@import '../constants/styles.constant.scss';


.contact-us-input {
    .border-line {
        border-top: 17px solid transparent;
        &.cyan {
            border-color: $mes-cyan-color;
        }
        &.orange {
            background-color: $mes-orange-color;
        }
    }
    .contact-us-header {
        font-size: 36px;
        font-family: ResamitzRegular;
    }
    .mes-contact-info {
        .title {
            font-size: 16px;
            font-family: ResamitzBold;
        }
        .data {
            a {
                color: black;
            }
            a:hover {
                color: blue;
            }
        }
        .clickable-data:hover {
            color: blue;
            text-decoration: underline;
            cursor: pointer;
        }
       
    }
}

@media (min-width: 768px) {
    .contact-us-input {
        .submission-area {
            position: relative;
            .spinner {
                top: -39px;
            }
        }
    }
}