@import '../../constants/styles.constant.scss';

.primary-image {
    max-width: 100%;
    max-height: 197px;
}
.imges-section {
    width: 100%;
    img {
        max-width: 100%;
    }
}
.selection-area {
	padding: 20px 50px;
    background: rgb(29,25,26);
    color: white;
    font-size: 18px;
    border-top: 25px solid $mes-cyan-color;
    .arrow {
        height: 30px;
    }
}

@media(min-width: 992px) {
    .selection-area {
        position: relative;
        background: red;
        z-index: 99999999;
        border-top: none;

        .selection-profile-area {
            border: none;
        }
        .selection-options {
            position: absolute;
            color: white;
            font-family: PlateiaBold;
            font-size: 14px;
            bottom: -200px;
            right: 31px;
            text-align: right;
            .arrow {
                height: 25px;
            }
            .option:hover {
                color: $mes-cyan-color;
            }
            .selected {
                color: $mes-cyan-color;
                font-size: 15px;
            }
        }
    }
}