<primary-img [imgPath]="IMAGES.ABOUT_US.BOARD_MEMBERS.ONE"></primary-img>
<div class="row imges-section px-0 mx-0">
    <div class="col-12 col-md px-0 px-md-0 mb-0">
        <img class="" src="{{IMAGES.ABOUT_US.BOARD_MEMBERS.TWO}}">
    </div>
    <div class="col-12 col-md px-0 px-md-0 mb-0">
        <img class="" src="{{IMAGES.ABOUT_US.BOARD_MEMBERS.THREE}}">
    </div>
    <div class="col-12 col-md px-0 px-md-0">
        <img class="" src="{{IMAGES.ABOUT_US.BOARD_MEMBERS.FOUR}}">
    </div>
</div>

<div class="selection-profile-area">
    <div class="row selection-area w-100 mx-0">
        <div class="selection-options">
            <div (click)="changeSelectedImage(IMAGES_PROFILE.KHALED_AZMY)" class="option cursor-pointer">
                <img *ngIf="selectedImage===IMAGES_PROFILE.KHALED_AZMY" class="arrow mr-2"
                    src="{{IMAGES.ABOUT_US.BOARD_MEMBERS.ARROW_RIGHT}}">
                <span [ngClass]="{'selected': selectedImage===IMAGES_PROFILE.KHALED_AZMY}">KHALED AZMY</span>
            </div>
            <div (click)="changeSelectedImage(IMAGES_PROFILE.MOHAMED_AZMY)" class="option cursor-pointer">
                <img *ngIf="selectedImage===IMAGES_PROFILE.MOHAMED_AZMY" class="arrow mr-2"
                    src="{{IMAGES.ABOUT_US.BOARD_MEMBERS.ARROW_RIGHT}}">
                <span [ngClass]="{'selected': selectedImage===IMAGES_PROFILE.MOHAMED_AZMY}">MOHAMED AZMY</span>
            </div>
            <div (click)="changeSelectedImage(IMAGES_PROFILE.GEN_AZMY)" class="option cursor-pointer">
                <img *ngIf="selectedImage===IMAGES_PROFILE.GEN_AZMY" class="arrow mr-2"
                    src="{{IMAGES.ABOUT_US.BOARD_MEMBERS.ARROW_RIGHT}}">
                <span [ngClass]="{'selected': selectedImage===IMAGES_PROFILE.GEN_AZMY}">GEN. AZMY ABDEL GHANY</span>
            </div>
            <div (click)="changeSelectedImage(IMAGES_PROFILE.GEN_ESSAM)" class="option cursor-pointer">
                <img *ngIf="selectedImage===IMAGES_PROFILE.GEN_ESSAM" class="arrow mr-2"
                    src="{{IMAGES.ABOUT_US.BOARD_MEMBERS.ARROW_RIGHT}}">
                <span [ngClass]="{'selected': selectedImage===IMAGES_PROFILE.GEN_ESSAM}">GEN. ESSAM ABDEL GHANY</span>
            </div>
        </div>
    </div>
    <!-- mobile and tablets -->
    <div class="d-lg-none">
        <div [hidden]="selectedImage!==IMAGES_PROFILE.KHALED_AZMY">
            <primary-img [imgPath]="IMAGES.ABOUT_US.BOARD_MEMBERS.FIVE_KHALED_MOBILE"></primary-img>
        </div>
        <div [hidden]="selectedImage!==IMAGES_PROFILE.MOHAMED_AZMY">
            <primary-img [imgPath]="IMAGES.ABOUT_US.BOARD_MEMBERS.SIX_KHALED_MOBILE"></primary-img>
        </div>
        <div [hidden]="selectedImage!==IMAGES_PROFILE.GEN_AZMY">
            <primary-img [imgPath]="IMAGES.ABOUT_US.BOARD_MEMBERS.SEVEN_KHALED_MOBILE"></primary-img>
        </div>
        <div [hidden]="selectedImage!==IMAGES_PROFILE.GEN_ESSAM">
            <primary-img [imgPath]="IMAGES.ABOUT_US.BOARD_MEMBERS.EIGHT_KHALED_MOBILE"></primary-img>
        </div>
    </div>
    <!-- desktop -->
    <div class="d-none d-lg-block">
        <div [hidden]="selectedImage!==IMAGES_PROFILE.KHALED_AZMY" class="margin-bottom-last-element">
            <primary-img [imgPath]="IMAGES.ABOUT_US.BOARD_MEMBERS.FIVE_KHALED"></primary-img>
            <!-- <primary-img [imgPath]="IMAGES.ABOUT_US.BOARD_MEMBERS.FIVE_KHALED"></primary-img> -->
        </div>
        <div [hidden]="selectedImage!==IMAGES_PROFILE.MOHAMED_AZMY" class="margin-bottom-last-element">
            <primary-img [imgPath]="IMAGES.ABOUT_US.BOARD_MEMBERS.SIX_KHALED"></primary-img>
        </div>
        <div [hidden]="selectedImage!==IMAGES_PROFILE.GEN_AZMY" class="margin-bottom-last-element">
            <primary-img [imgPath]="IMAGES.ABOUT_US.BOARD_MEMBERS.SEVEN_KHALED"></primary-img>
        </div>
        <div [hidden]="selectedImage!==IMAGES_PROFILE.GEN_ESSAM" class="margin-bottom-last-element">
            <primary-img [imgPath]="IMAGES.ABOUT_US.BOARD_MEMBERS.EIGHT_KHALED"></primary-img>
        </div>
    </div>
</div>