<footer class="footer py-3 px-md-4">
  <div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-10">
          MES Security 2020 Developed by Candeo Promotions • <span style="font-size: 16px;">Ⓨ</span>
        </div>
        <div class="col-12 col-md-2 d-flex justify-content-md-end">
          <span class="pr-1">fb</span>
          <span class="pr-1">tw</span>
          <span class="pr-1">in</span>
          <span>yo</span>
        </div>
    </div>
  </div>
</footer>