<footer class="footer pt-3">
  <div class="container">
    <div class="row">
      <!-- vodafone GmbH -->
        <div class="col-sm-12 text-center">
          gmbh
          <span>
              <a href="https://www.vodafone.de/impressum.html" target="_blank" >
                terms
              </a>
              <a href="https://www.vodafone.de/unternehmen/soziale-verantwortung/datenschutz-privatsphaere.html" target="_blank" >
                privacy
              </a>
          </span>
         <span class="d-block">Version</span>
        </div>
    </div>
  </div>
</footer>