@import '../../../constants/styles.constant.scss';

.img-text-container {
    position: relative;
    &.default-alignment {
        animation: deafultAlignment200 3s 1;
    }
    &.reverse-alignment {
        animation: reverseAlignment200 3s 1;
    }
    .primary-image {
        width: 100%;
        height: auto;
        img {
            width: 100%;
            height: 100%;
        }
    }
    
    .border-text-area {
        position: relative;
        top: 0px;
        .border-line {
            border-top: 20px solid transparent;
            &.cyan {
                border-color: $mes-cyan-color;
            }
            &.orange {
                background-color: $mes-orange-color;
            }
        }
        .text-area {
            font-family: ResamitzRegular;
            background-color: rgb(213, 213, 213);
            padding: 50px 40px;
            height: auto;
        }
        .text-area:hover {
            transform: scale(1.05);
        }
    }
}
@keyframes deafultAlignment200 {
    from {left: -200px;}
    to {left: 0px;}
}
  
@keyframes reverseAlignment200 {
    from {right: -200px;}
    to {right: 0px;}
}

/** desktop */
@media (min-width: 768px) {
    .img-text-container {
        .primary-image {
            img {
            }
          }
        .border-text-area {
            position: relative;
            top: -200px;
        }
    }
}

@media (min-width: 1200px) {
    .img-text-container {
        .primary-image {
            img {
            }
          }
        .border-text-area {
        }
    }
}