<div class="img-text-container mb-5 mb-md-0" id="full-container-height">

  <div class="row p-0 m-0">

    <div class="row primary-image mx-auto">
      <div *ngIf="imgTextAlignmentReversed" class="col-0 col-md-5"></div>
      <img class="col-12 col-md-7 px-0" src="{{imgPath}}">
    </div>
  </div>

  <div class="row p-0 m-0 border-text-area">
    <!-- line color -->
    <div *ngIf="!imgTextAlignmentReversed" class="col-0 col-md-9"></div>
    <div class="border-line border-line-cyan col-12 col-md-3 mb-md-4"></div>
    <div *ngIf="imgTextAlignmentReversed" class="col-0 col-md-9"></div>
    <!-- grey area -->
    <div *ngIf="!imgTextAlignmentReversed" class="col-12 col-md-6"></div>
    <div class="text-area col-12 col-md-6" [innerHTML]="textParagraph"></div>
  </div>
</div>