<nav class="navbar navbar-expand-lg navbar-light mb-5">
  <a class="navbar-brand mx-md-5 cursor-pointer">
    <img class="logo" *ngIf="true" src="{{IMAGES.HEADER.MES_LOGO}}" (click)="navigate('/'+MES_ROUTES.HOME)">
    <div class="sub-logos-container">
      <img class="sub-logo advisory-logo-grey"[ngClass]="{'d-none': getActiveLink(MES_ROUTES.ABOUT_US_WHO_WE_ARE) || overAdvisoryGreyFlag}"
        src="{{IMAGES.HEADER.ADVISORY_GREY}}"
        (mouseenter)="overAdvisoryGrey(true)" (click)="navigate('/'+MES_ROUTES.ABOUT_US_WHO_WE_ARE)">
      <img class="sub-logo advisory-logo-green d-none"
        [ngClass]="{'d-inline': getActiveLink(MES_ROUTES.ABOUT_US_WHO_WE_ARE) || overAdvisoryGreyFlag}"
        (mouseleave) ="overAdvisoryGrey(false)"
        src="{{IMAGES.HEADER.ADVISORY_GREEN}}" (click)="navigate('/'+MES_ROUTES.ABOUT_US_WHO_WE_ARE)">
      <img class="sub-logo systems-logo-grey" [ngClass]="{'d-none': getActiveLink(MES_ROUTES.SYSTEMS) || overSystemsGreyFlag}"
        src="{{IMAGES.HEADER.SYSTEMS_GREY}}"
        (mouseenter)="overSystemsGrey(true)" (click)="navigate('/'+MES_ROUTES.SYSTEMS)">
      <img class="sub-logo systems-logo-yellow d-none" [ngClass]="{'d-inline': getActiveLink(MES_ROUTES.SYSTEMS) || overSystemsGreyFlag}"
      (mouseleave) ="overSystemsGrey(false)"
      src="{{IMAGES.HEADER.SYSTEMS_YELLOW}}" (click)="navigate('/'+MES_ROUTES.SYSTEMS)">
    </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse row" id="navbarNavDropdown">
    <ul class="navbar-nav ml-3 ml-md-5">
      <li class="nav-item mx-lg-2 mx-xl-4 dropdown">
        <a class="nav-link dropdown-toggle" [ngClass]="{'activeLinkLine': getActiveLink(MES_ROUTES.ABOUT_US)}"
          id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="link mr-1">
            <!-- <span>{{'header.aboutUs' | translate}}</span> -->
            <span>About Us</span>
            <img class="arrow"
              src="{{IMAGES.HEADER.ARROW_DOWN}}"></div>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" [ngClass]="{'sublink': getActiveLink(MES_ROUTES.ABOUT_US_WHO_WE_ARE)}"
              (click)="navigate('/'+MES_ROUTES.ABOUT_US_WHO_WE_ARE)">Who we are</a>
            <a class="dropdown-item" [ngClass]="{'sublink': getActiveLink(MES_ROUTES.ABOUT_US_BORAD_MEMBERS)}"
              (click)="navigate('/'+MES_ROUTES.ABOUT_US_BORAD_MEMBERS)">Board Members</a>
          </div>
        </a>
      </li>
      <li class="nav-item mx-lg-2 mx-xl-4">
        <a class="nav-link" [ngClass]="{'activeLinkLine': getActiveLink(MES_ROUTES.NEWS)}">
          <div class="link" (click)="navigate('/'+MES_ROUTES.NEWS)">News</div>
        </a>
      </li>
      <li class="nav-item mx-lg-2 mx-xl-4">
        <a class="nav-link" [ngClass]="{'activeLinkOrange': getActiveLink(MES_ROUTES.SYSTEMS)}">
          <div class="link" (click)="navigate('/'+MES_ROUTES.SYSTEMS)">Systems</div>
        </a>
      </li>
      <li class="nav-item mx-lg-2 mx-xl-4">
        <a class="nav-link" [ngClass]="{'activeLinkLine': getActiveLink(MES_ROUTES.SERVICES)}">
          <div class="link" (click)="navigate('/'+MES_ROUTES.SERVICES)">Services</div>
        </a>
      </li>
      <li class="nav-item mx-lg-2 mx-xl-4">
        <a class="nav-link" [ngClass]="{'activeLinkLine': getActiveLink(MES_ROUTES.CLIENTS)}">
          <div class="link" (click)="navigate('/'+MES_ROUTES.CLIENTS)">Clients</div>
        </a>
      </li>
      <li class="nav-item mx-lg-2 mx-xl-4">
        <a class="nav-link" [ngClass]="{'activeLinkLine': getActiveLink(MES_ROUTES.CONTACT_US)}">
          <div class="link" (click)="navigate('/'+MES_ROUTES.CONTACT_US)">Contact Us</div>
        </a>
      </li>
    </ul>
  </div>
</nav>