
<img-text class="mt-5" [imgPath]="IMAGES.NEWS.ONE"
[textParagraph]="textParaghraphImgOne"
[imgTextAlignmentReversed]="false" [arabicText]="true"></img-text>

<div class="row img-row mx-0">
    <div class="col-12 col-md px-0 px-md-0 mb-5 mr-2">
      <img class="" src="{{IMAGES.NEWS.TWO}}">
    </div>
    <div class="col-12 col-md px-0 px-md-0 mb-5 mr-2">
        <img class="" src="{{IMAGES.NEWS.THREE}}">
    </div>
    <div class="col-12 col-md px-0 px-md-0 mb-0 mb-md-5">
        <img class="" src="{{IMAGES.NEWS.FOUR}}">
    </div>
  </div>

  <carousel></carousel>