<div class="mb-5">
    <primary-img [imgPath]="IMAGES.SERVICES.ONE"></primary-img>
</div>

<img-text class="mt-5" [imgPath]="IMAGES.SERVICES.TWO" [textParagraph]="textParaghraphImgTwo"
    [imgTextAlignmentReversed]="false"></img-text>

<img-text [imgPath]="IMAGES.SERVICES.THREE" [textParagraph]="textParaghraphImgThree" [imgTextAlignmentReversed]="true">
</img-text>

<img-text [imgPath]="IMAGES.SERVICES.FOUR" [textParagraph]="textParaghraphImgFour" [imgTextAlignmentReversed]="false">
</img-text>

<img-text [imgPath]="IMAGES.SERVICES.FIVE" [textParagraph]="textParaghraphImgFive" [imgTextAlignmentReversed]="true">
</img-text>

<img-text [imgPath]="IMAGES.SERVICES.SIX" [textParagraph]="textParaghraphImgSix" [imgTextAlignmentReversed]="true">
</img-text>

<div class="margin-bottom-last-element more">
    <img-text [imgPath]="IMAGES.SERVICES.SEVEN" [textParagraph]="textParaghraphImgSeven"
        [imgTextAlignmentReversed]="true"></img-text>
</div>