<div class="mb-5">
    <primary-img [imgPath]="IMAGES.ABOUT_US.WHO_WE_ARE.ONE"></primary-img>
</div>

<img-text class="mt-5" [imgPath]="IMAGES.ABOUT_US.WHO_WE_ARE.TWO"
[textParagraph]="textParaghraphImgTwo"
[imgTextAlignmentReversed]="false"></img-text>

<img-text [imgPath]="IMAGES.ABOUT_US.WHO_WE_ARE.THREE"
[textParagraph]="textParaghraphImgThree"
[imgTextAlignmentReversed]="true"></img-text>

<img-text [imgPath]="IMAGES.ABOUT_US.WHO_WE_ARE.FOUR"
[textParagraph]="textParaghraphImgFour"
[imgTextAlignmentReversed]="true"></img-text>

<img-text [imgPath]="IMAGES.ABOUT_US.WHO_WE_ARE.FIVE"
[textParagraph]="textParaghraphImgFive"
[imgTextAlignmentReversed]="false"></img-text>

<img-text [imgPath]="IMAGES.ABOUT_US.WHO_WE_ARE.SIX"
[textParagraph]="textParaghraphImgSix"
[imgTextAlignmentReversed]="true"></img-text>

<div class="mb-5">
    <img-text [imgPath]="IMAGES.ABOUT_US.WHO_WE_ARE.SEVEN"></img-text>
</div>

<div class="our-partners-title ml-4 mb-5 p-0 col-10 col-md-4">
    OUR PARTNERS
</div>

<div class="col-12 col-md-10 mx-auto">
    <primary-img [imgPath]="IMAGES.ABOUT_US.WHO_WE_ARE.EIGHT"></primary-img>
</div>

<div class="margin-bottom-last-element">
    <primary-img [imgPath]="IMAGES.ABOUT_US.WHO_WE_ARE.NINE"></primary-img>
</div>`