.primary-image {
    width: 100%;
    height: auto;
    img {
        width: 100%;
        max-height: 600px;
    }
}

@media (min-width: 768px) {
    .primary-image {
        img {
            max-height: unset;
        }
    }
}