<div class="mb-5">
    <primary-img [imgPath]="IMAGES.ABOUT_US.WHO_WE_ARE.ONE"></primary-img>
</div>

<img-text class="mt-5" [imgPath]="IMAGES.ABOUT_US.WHO_WE_ARE.TWO"
[textParagraph]="textParaghraphImgTwo"
[imgTextAlignmentReversed]="false"></img-text>

<img-text [imgPath]="IMAGES.ABOUT_US.WHO_WE_ARE.THREE"
[textParagraph]="textParaghraphImgThree"
[imgTextAlignmentReversed]="true"></img-text>

<img-text [imgPath]="IMAGES.ABOUT_US.WHO_WE_ARE.FOUR"
[textParagraph]="textParaghraphImgFour"
[imgTextAlignmentReversed]="false"></img-text>

<img-text [imgPath]="IMAGES.ABOUT_US.WHO_WE_ARE.FIVE"
[textParagraph]="textParaghraphImgFive"
[imgTextAlignmentReversed]="true"></img-text>

<primary-img [imgPath]="IMAGES.ABOUT_US.WHO_WE_ARE.SIX"></primary-img>