<div class="mb-5">
    <primary-img [imgPath]="IMAGES.SYSTEMS.ONE"></primary-img>
</div>
<img-text class="mt-5" [imgPath]="IMAGES.SYSTEMS.TWO" [textParagraph]="textParaghraphImgTwo"
    [imgTextAlignmentReversed]="false" [borderLineColor]="BORDER_LINE_COLOR"></img-text>

<img-text [imgPath]="IMAGES.SYSTEMS.THREE" [textParagraph]="textParaghraphImgThree" [imgTextAlignmentReversed]="true"
    [borderLineColor]="BORDER_LINE_COLOR"></img-text>

<img-text [imgPath]="IMAGES.SYSTEMS.FOUR" [textParagraph]="textParaghraphImgFour" [imgTextAlignmentReversed]="false"
    [borderLineColor]="BORDER_LINE_COLOR"></img-text>

<img-text [imgPath]="IMAGES.SYSTEMS.FIVE" [textParagraph]="textParaghraphImgFive" [imgTextAlignmentReversed]="true"
    [borderLineColor]="BORDER_LINE_COLOR"></img-text>

<img-text [imgPath]="IMAGES.SYSTEMS.SIX" [textParagraph]="textParaghraphImgSix" [imgTextAlignmentReversed]="false"
    [borderLineColor]="BORDER_LINE_COLOR"></img-text>

<img-text [imgPath]="IMAGES.SYSTEMS.SEVEN" [textParagraph]="textParaghraphImgSeven" [imgTextAlignmentReversed]="true"
    [borderLineColor]="BORDER_LINE_COLOR"></img-text>

<img-text [imgPath]="IMAGES.SYSTEMS.EIGHT" [textParagraph]="textParaghraphImgEight" [imgTextAlignmentReversed]="false"
    [borderLineColor]="BORDER_LINE_COLOR"></img-text>

<img-text [imgPath]="IMAGES.SYSTEMS.NINE" [textParagraph]="textParaghraphImgNine" [imgTextAlignmentReversed]="true"
    [borderLineColor]="BORDER_LINE_COLOR"></img-text>

<img-text [imgPath]="IMAGES.SYSTEMS.TEN" [textParagraph]="textParaghraphImgTen" [imgTextAlignmentReversed]="false"
    [borderLineColor]="BORDER_LINE_COLOR"></img-text>

<img-text [imgPath]="IMAGES.SYSTEMS.ELEVEN" [textParagraph]="textParaghraphImgEleven" [imgTextAlignmentReversed]="true"
    [borderLineColor]="BORDER_LINE_COLOR"></img-text>

<img-text [imgPath]="IMAGES.SYSTEMS.TWELVE" [textParagraph]="textParaghraphImgTwelve" [imgTextAlignmentReversed]="false"
    [borderLineColor]="BORDER_LINE_COLOR"></img-text>

<img-text [imgPath]="IMAGES.SYSTEMS.THIRTEEN" [textParagraph]="textParaghraphImgThirteen"
    [imgTextAlignmentReversed]="true" [borderLineColor]="BORDER_LINE_COLOR"></img-text>

<img-text [imgPath]="IMAGES.SYSTEMS.FOURTEEN" [textParagraph]="textParaghraphImgFourteen"
    [imgTextAlignmentReversed]="false" [borderLineColor]="BORDER_LINE_COLOR"></img-text>

<div class="margin-bottom-last-element more">
    <img-text [imgPath]="IMAGES.SYSTEMS.FIFTEEN" [textParagraph]="textParaghraphImgFifteen"
        [imgTextAlignmentReversed]="true" [borderLineColor]="BORDER_LINE_COLOR"></img-text>
</div>