@import '../../../constants/styles.constant.scss';

.home-img-area {
    position: relative;
    width: 100%;
    img {
        filter: brightness(40%);
    }
    .text-area {
        position: absolute;
        top: 5%;
        color: white;
        text-align: center;
        padding: 25px;
        width: 100%;
        .textTitle {
            font-family: PlateiaBold;
            font-size: 20px;
            height: 20px;
        }
        .textBody {
            padding: 100px 0px 0px 0px;
            font-size: 14px;
        }
    }
    .more {
        cursor: pointer;
        position: absolute;
        top: 80%;
        color: white;
        text-align: center;
        .more-arrow {
            font-size: 40px;
            font-weight: bold;
            transform: rotate(90deg);
            line-height: 0.5;
        }
        .more-link {
            font-size: 18px;
            letter-spacing: 5px;
        }
    }
}
.home-img-area:hover {
    img {
        filter: none;
    }
    .text-area {
        transition: top 0.3s ease-out;
        top: 20%;
        .textBody {
            transition: padding 0.3s ease-out;
            padding: 50px 0px 0px 0px;
        }
    }
    .more {
        .more-arrow {
            transition: transform 0.3s ease-out;
            transform: rotate(-90deg);
        }
        .more-link {
            font-size: 20px;
            font-weight: bold;
        }
    }
}

/** desktop */
@media (min-width: 992px) {

    .home-img-area {
        .text-area {
            top: 30%;
            .textTitle {
                margin-bottom: 5px;
            }
            .textBody {
                padding: 120px 0px 0px 0px;
                font-size: 14px;
            }
        }
    }

    .home-img-area:hover {
        .text-area {
            transition: top 0.3s ease-out;
            top: 40%;
            .textBody {
                transition: padding 0.3s ease-out;
                padding: 40px 0px 0px 0px;
            }
        }
    }
    
}