@import '../constants/styles.constant.scss';

.service {
    background: rgb(1, 3, 3);
    .border-line {
        border-bottom: 10px solid $mes-cyan-color;
        .title {
            color: $mes-cyan-color;
            font-size: 30px;
            font-family: ResamitzBold;
        }
    }
    .social-icons-area {
        .social-icons {
            width: 35px;
            height: auto;
            cursor: pointer;
        }
        .social-icons:hover {
            transform: scale(1.3);
        }
    }
}
.img-nine {
    position: relative;
    .img-nine-text {
        top: 20%;
        position: absolute;
        color: $mes-dark-navy-blue-color;
        .primary-text {
            font-size: 10px;
            font-family: ResamitzBold;
            .highlited-text {
                color:white;
                background-color: $mes-dark-navy-blue-color;
                font-family: PlateiaBold;
            }
        }
        .secondary-text {
            font-size: 8px;
            padding-top: 5px;
        }
    }
}
.our-clients-area {
    .border-line {
        border-top: 17px solid transparent;
        &.cyan {
            border-color: $mes-cyan-color;
        }
        &.orange {
            background-color: $mes-orange-color;
        }
    }
    .our-clients-header {
        font-size: 36px;
        font-family: ResamitzRegular;
    }
}

@media(min-width: 768px) {
    .img-nine {
        position: relative;
        .img-nine-text {
            top: 25%;
            .primary-text {
                font-size: 22px;
                .highlited-text {
                }
            }
            .secondary-text {
                font-size: 17px;
                padding-top: 0px;
            }
        }
        .counter-container {
            bottom: 0px;
            left: 34%;
        }
    }
    .service {
        .border-line {
            .title {
            }
        }
        .social-icons-area {
            margin-top: 35px;
            .social-icons {
            }
        }
    }
}

@media(min-width: 992px) {
    .img-nine {
        position: relative;
        .img-nine-text {
            top: 32%;
            .primary-text {
                font-size: 26px;
                .highlited-text {
                }
            }
            .secondary-text {
                font-size: 20px;
                padding-top: 0px;
            }
        }
        .counter-container {
            position: absolute;
            bottom: 0px;
            left: 34%;
        }
    }
    .service {
        .border-line {
            .title {
            }
        }
        .social-icons-area {
            margin-top: 35px;
            .social-icons {
            }
        }
    }
}