<div class="mb-5">
    <primary-img [imgPath]="IMAGES.HOME_PAGE.ONE"></primary-img>
</div>

<img-text class="img-text mt-5" [imgPath]="IMAGES.HOME_PAGE.TWO" [textParagraph]="textParaghraphImgTwo"
    [imgTextAlignmentReversed]="false"></img-text>

<!-- service area -->
<div class="service row w-100 mx-0">
    <div class="col-9 col-md-4 ml-5 my-4 border-line p-0">
        <div class="mb-3 title">OUR SERVICES</div>
    </div>
    <div class="social-icons-area col-12 col-md-3 pr-2 text-center text-md-right ml-md-auto pr-md-5">
        <span (click)="externalNavigation(MES_ROUTES.EXTERNAL_URL.SOCIAL_MEDIA.FACEBOOK)" class="pr-3"><img
                class="social-icons" src="{{IMAGES.HOME_PAGE.FACEBOOK_ICON}}"></span>
        <span (click)="externalNavigation(MES_ROUTES.EXTERNAL_URL.SOCIAL_MEDIA.FACEBOOK)" class="pr-3"><img
                class="social-icons" src="{{IMAGES.HOME_PAGE.INSTAGRAM_ICON}}"></span>
    </div>
</div>

<div class="row w-100 mx-0">
    <home-img-more-nav class="col-12 col-md-4 p-0"
    [imgPath]="IMAGES.HOME_PAGE.THREE" [textTitle]="textTitleThree"
    [textBody]="textBodyThree"></home-img-more-nav>

    <home-img-more-nav class="col-12 col-md-4 p-0"
    [imgPath]="IMAGES.HOME_PAGE.FOUR" [textTitle]="textTitleFour"
    [textBody]="textBodyFour"></home-img-more-nav>

    <home-img-more-nav class="col-12 col-md-4 p-0"
    [imgPath]="IMAGES.HOME_PAGE.FIVE" [textTitle]="textTitleFive"
    [textBody]="textBodyFive"></home-img-more-nav>

    <home-img-more-nav class="col-12 col-md-4 p-0"
    [imgPath]="IMAGES.HOME_PAGE.SIX" [textTitle]="textTitleSix"
    [textBody]="textBodySix"></home-img-more-nav>

    <home-img-more-nav class="col-12 col-md-4 p-0"
    [imgPath]="IMAGES.HOME_PAGE.SEVEN" [textTitle]="textTitleSeven"
    [textBody]="textBodySeven"></home-img-more-nav>

    <home-img-more-nav class="col-12 col-md-4 p-0"
    [imgPath]="IMAGES.HOME_PAGE.EIGHT" [textTitle]="textTitleEight"
    [textBody]="textBodyEight"></home-img-more-nav>
</div>

<div class="img-nine mb-5">
    <primary-img [imgPath]="IMAGES.HOME_PAGE.NINE"></primary-img>
    <div class="row img-nine-text w-100">
        <div class="m-auto primary-text">
            PROVIDE SECURITY SINCE <span class="highlited-text p-1 pb-2">10 YEARS</span> WITH TRUST
        </div>
        <div class="m-auto secondary-text">
            Our mission is to be the best by bringing the most value to our clients.
        </div>
    </div>
    <div class="counter-container row m-auto d-felx justify-content-center">
        <counter [finalNumber]="200" [counterTimeout]="2" [incrementStep]="1"
        [nameText]="'CLIENTS'" [heightClass]="'clients'"></counter>
        <counter [finalNumber]="70" [counterTimeout]="2" [incrementStep]="1"
        [nameText]="'LOCATIONS'" [heightClass]="'locations'"></counter>
        <counter [finalNumber]="100" [counterTimeout]="2" [incrementStep]="1"
        [nameText]="'CASES COMPLETED'" [heightClass]="'cases-completed'"></counter>
    </div>
</div>

<div class="col-12 pl-md-5 our-clients-area">
    <div class="col-12 col-md-3 border-line cyan"></div>
    <div class="our-clients-header mt-3 mb-5 ml-md-1">
        Our Clients
    </div>
</div>

<div class="row w-100 justify-content-center margin-bottom-last-element">
    <div class="col-10 mb-3">
        <carousel></carousel>
    </div>
</div>