<div class="mb-5">
    <primary-img [imgPath]="IMAGES.HOME_PAGE.ONE"></primary-img>
</div>

<img-text class="mt-5" [imgPath]="IMAGES.HOME_PAGE.TWO"
[textParagraph]="textParaghraphImgTwo"
[imgTextAlignmentReversed]="false"></img-text>

<div class="mb-5">
    <primary-img [imgPath]="IMAGES.HOME_PAGE.NINE"></primary-img>
</div>

<div class="col-12 pl-md-5 our-clients-area">
    <div class="col-12 col-md-3 border-line cyan"></div>
    <div class="our-clients-header mt-3 mb-5 ml-md-1">
        Our Clients
    </div>
</div>

<div class="row w-100 justify-content-center margin-bottom-last-element">
    <div class="col-10 mb-3">
        <carousel></carousel>
    </div>
</div>
